---
layout: default
active_tab: "blog"
post_limit: 5
---
<section>
  <h1>Recent Articles</h1>
  {% for post in site.posts limit:page.post_limit %}
  <article class="snippet">
    <header>
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <ul class="list-unstyled list-inline meta">
        <li><time date="{{ post.date }}">{{ post.date | date: "%B %d, %Y" }}</time></li>
		{% if post.tags %}
		<li>Tagged: {{ post | tags }}</li>
		{% endif %}
	  </ul>
    </header>
    {{ post.content | strip_html | truncatewords:100 }}
	<a href="{{ post.url }}">more</a>
  </article>
  {% endfor %}

  <footer>
    {% if site.posts.size > page.post_limit %}
    <a href="/archive">More posts</a>
    {% endif %}
  </footer>

</section>
<script type="text/javascript">
var disqus_shortname = 'rsontechnet';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.type = 'text/javascript';
  s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
