* {
    font-family: "Open Sans", sans-serif;
}

a,
a:visited {
    color: #930;
}

a:hover {
    color: #f60;
}

code,
code > span {
    font-family: "Inconsolata", "Consolas", "Monaco", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Pathway Gothic One", "Garamond", serif;
    font-weight: normal;
    padding: .75em 0;
}

section > h1 {
	margin-bottom: 35px;
}

section > h1,
article.full > header > h1 {
    font-size: 3em;
	padding: 0;
}

article.snippet > header > h1 {
	font-size: 1.75em;
	margin-top: 0;
	padding-top: 0;
}

h1 > a {
    font-family: "Pathway Gothic One", "Garamond", serif;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.1em;
    padding: .5em 0;
}

h4 {
    font-size: 1em;
}

.page-header {
	border-bottom: 0;
	padding-bottom: 0;
}

.page-header a,
.page-header a:visited,
.page-header a:hover {
	color: inherit;
	text-decoration: none;
}

.page-header {
    margin: 20px 0;
}

.page-header > h1 {
	font-size: 4em;
    letter-spacing: .05em;
	display: inline-block;
	width: 50%;
	padding: 0;
	margin: 0;
}

.page-header > nav {
	text-align: right;
	width: 50%;
	display: inline-block;
}

.page-header ul {
	list-style-type: none;
	padding: 0;
}

.page-header > nav li {
	display: inline-block;
	margin-right: 30px;
}

.page-header li:hover,
.page-header li.active:hover {
    border-bottom: 2px solid #f60;
}

.page-header li.active {
    border-bottom: 2px solid #c30;
}

.page-header li > a {
	text-align: center;
	padding: 15px 0;
}

@media (max-width: 768px) {
	.page-header > h1,
	.page-header > nav {
		display: block;
		width: auto;
	}

	.page-header > nav {
		margin: 20px 0 30px;
		text-align: left;
	}

	.page-header > nav li {
		margin-right: 40px;
	}
}

@media (max-width: 400px) {
	.page-header > h1 {
		font-size: 3.5em;
	}

	section > h1,
	article.full > header > h1 {
		font-size: 2em;
	}

	article.snippet > header > h1 {
		font-size: 1.5em;
	}

	.page-header > nav li {
		margin-right: 30px;
	}
}

dt {
    font-family: "Pathway Gothic One", "Garamond", serif;
	font-weight: normal;
	font-size: 1.15em;
}

dd {
	padding-left: 3em;
	margin: .5em 0 1em;
}

article > header > h1 {
	padding-bottom: 0;
}

ul.meta {
	font-size: .9em;
	font-color: #777;
	margin-bottom: 1.25em;
}

ul.meta > li {
	padding-left: 0;
	padding-right: 10px;;
}

ul.meta > li + li {
	padding-left: 10px;
	border-left: 1px solid #ccc;
}

article {
	margin-bottom: 35px;
}

.article-list dt {
	font-size: 1.5em;
}

.article-list .tags {
	margin-left: 10px;
}

.me > img {
	margin-left: 2em;
}

.text-muted,
.text-muted.tags > a {
	color: #777;
}

footer {
    text-align: center;
	margin: 2em 0;
}

.dot {
	color: #c30;
}

.more {
    font-family: "Pathway Gothic One", "Garamond", serif;
}

.more + span {
	color: #c30;
}
