---
layout: default
active_tab: "articles"
---

<section>
  <article class="rt-article">
    <header class="rt-article-header">
      <h1 class="rt-heading rt-title-page">{{ page.title }}</h1>
      <ul class="list-unstyled list-inline rt-meta">
        <li>
		  <a href="{{ page.url }}" title="Permalink">
			<time date="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
		  </a>
		</li><!--
		{% if page.tags %}
		--><li>Tagged: {{ page | tags }}</li><!--
		{% endif %}
	  --></ul>
    </header>
    {{ content }}
  </article>
</section>

<div class="rt-comments" id="disqus_thread"></div>
<script type="text/javascript">
var disqus_shortname = 'rsontechnet';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
