---
layout: default
---

<section>
  <article class="full">
    <header>
      <h1>{{ page.title }}</h1>
      <ul class="list-unstyled list-inline meta">
        <li>
		  <a href="{{ page.url }}" title="Permalink">
			<time date="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
		  </a>
		</li>
		{% if page.tags %}
		<li>Tagged: {{ page | tags }}</li>
		{% endif %}
	  </ul>
    </header>
    {{ content }}
    </footer>
  </article>
</section>

<div id="disqus-thread"></div>
<script type="text/javascript">
var disqus_shortname = 'rsontechnet';
(function() {
  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
  dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
